<h1>Hey, This is me new Server </h1>
<p>{{'checking server'}} it works on port {{serverId}} and is {{getServerStatus()}}</p>
<label for="">Server Name</label>
<input type="text" (input)="getName($event)">
<p *ngFor="let server of servers">{{servers}}</p>
<button [disabled]="!addServer" (click)="changeServer()" >{{toogle?"Remove Server":"Add Server"}}</button>
<p *ngIf="serverCreated; else noServer">{{serverUpdation}}</p>
<ng-template #noServer>
    <p>NOT Created!</p>
</ng-template>
<p [innerText]="addServer"></p>
<p>servers works!</p>

